name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [ published ]
permissions:
  packages: write
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  VCPKG_EXE: ${{ github.workspace }}/vcpkg/vcpkg
  FEED_URL: https://nuget.pkg.github.com/zig-for/index.json
  VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/zig-for/index.json,readwrite"
jobs:
  build:
    strategy:
      matrix:
        config:
          - { os: windows-latest, preset: windows-x64-release }
          - { os: ubuntu-24.04, preset: linux-x64-release }
          - { os: macos-latest, preset: macos-x64-release }
          - { os: macos-latest, preset: macos-arm64-release }
  
    runs-on: ${{ matrix.config.os }}
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      # TODO: figure out how to disable wxGL so we can get rid of freeglut
      - run: sudo apt-get update && sudo apt-get install pkg-config libgtk-3-dev libsecret-1-dev libgcrypt20-dev libsystemd-dev freeglut3-dev
        if: ${{ contains(matrix.config.os, 'ubuntu') }}
      - run: brew install pkg-config protobuf grpc
        if: ${{ contains(matrix.config.os, 'macos') || contains(matrix.config.os, 'osx') }} 
      - name: Download vcpkg
        uses: actions/checkout@v6
        with:
          repository: 'microsoft/vcpkg'
          # TODO: pull forward
          ref: 'c168ce4e765409509c9c482faa0468c4e1ab386b'
          path: vcpkg

      # Install latest CMake.
      - name: Bootstrap vcpkg
        if: ${{ contains(matrix.config.os, 'windows') }}
        shell: pwsh
        run: |
          ${{ github.workspace }}/vcpkg/bootstrap-vcpkg.bat
      - name: Bootstrap vcpkg
        if: ${{ ! contains(matrix.config.os, 'windows') }}
        shell: bash
        run: ${{ github.workspace }}/vcpkg/bootstrap-vcpkg.sh
      - run: vcpkg/vcpkg fetch ninja
      - run: cmake -B build -S . -DCMAKE_TOOLCHAIN_FILE=vcpkg/scripts/buildsystems/vcpkg.cmake --preset '${{ matrix.config.preset }}'
      - name: Remove buildtrees from cache
        uses: JesseTG/rm@v1.0.3
        with:
          path: vcpkg/buildtrees
      - name: Remove downloads from cache
        uses: JesseTG/rm@v1.0.3
        with:
          path: vcpkg/downloads
      - name: Archive build
        uses: actions/upload-artifact@v5
        with:
          name: snfm-${{ matrix.config.preset }}
          path: |
            out/build/${{ matrix.config.preset }}/manage_files.exe
            out/build/${{ matrix.config.preset }}/send_file.exe
            out/build/${{ matrix.config.preset }}/manage_files
            out/build/${{ matrix.config.preset }}/send_file
            out/build/${{ matrix.config.preset }}/snfm_user_manual.md
            out/build/${{ matrix.config.preset }}/snfm_config_example.yaml
      - run: |
          echo "RUNVCPKG_NO_CACHE=1" >> $GITHUB_ENV
        if: ${{ failure() || cancelled() }}
        shell: bash
  release:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x
      - name: Get artifact
        uses: actions/download-artifact@v6
        with:
          name: snfm-windows-x64-release
          path: windows
      - name: Get artifact
        uses: actions/download-artifact@v6
        with:
          name: snfm-linux-x64-release
          path: linux
      - name: Get artifact
        uses: actions/download-artifact@v6
        with:
          name: snfm-macos-x64-release
          path: macos
      - name: Fix +x
        run: |
          chmod +x linux/send_file
          chmod +x linux/manage_files
          chmod +x macos/send_file
          chmod +x macos/manage_files

      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: zip
          filename: ../snfm-windows-x64-release.zip
          directory: windows
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: zip
          filename: ../snfm-linux-x64-release.zip
          directory: linux
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: zip
          filename: ../snfm-macos-x64-release.zip
          directory: macos
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          tag: ${{ env.GITHUB_REF_SLUG }}
          overwrite: true
          asset_name: snfm-$tag-windows-x64.zip
          file: snfm-windows-x64-release.zip
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          tag: ${{ env.GITHUB_REF_SLUG }}
          overwrite: true
          asset_name: snfm-$tag-linux-x64.zip
          file: snfm-linux-x64-release.zip
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          tag: ${{ env.GITHUB_REF_SLUG }}
          overwrite: true
          asset_name: snfm-$tag-macos-x64.zip
          file: snfm-macos-x64-release.zip
