name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [ published ]
permissions:
  packages: write
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  FEED_URL: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
  VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json,readwrite"
  VCPKG_EXE: ${{ github.workspace }}/vcpkg/vcpkg

jobs:
  build:
    strategy:
      matrix:
        config:
          - { os: windows-latest, preset: windows-x64-release }
          - { os: ubuntu-24.04, preset: linux-x64-release }
          - { os: macos-latest, preset: macos-x64-release }
          - { os: macos-latest, preset: macos-arm64-release }
  
    runs-on: ${{ matrix.config.os }}
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      # TODO: figure out how to disable wxGL so we can get rid of freeglut
      - run: sudo apt-get update && sudo apt-get install pkg-config libgtk-3-dev libsecret-1-dev libgcrypt20-dev libsystemd-dev freeglut3-dev mono-complete
        if: ${{ contains(matrix.config.os, 'ubuntu') }}
      - run: brew install pkg-config protobuf grpc mono
        if: ${{ contains(matrix.config.os, 'macos') || contains(matrix.config.os, 'osx') }} 
      - name: Install Mono
        shell: pwsh
        run: winget install -e --id Mono.Mono --silent --accept-source-agreements
        if: ${{ contains(matrix.config.os, 'windows') }}
      - name: Download vcpkg
        uses: actions/checkout@v6
        with:
          repository: 'microsoft/vcpkg'
          ref: '5bf0c55239da398b8c6f450818c9e28d36bf9966'
          path: vcpkg
      - name: Bootstrap vcpkg
        if: ${{ ! contains(matrix.config.os, 'windows') }}
        shell: bash
        run: ${{ github.workspace }}/vcpkg/bootstrap-vcpkg.sh


      - name: Bootstrap vcpkg
        if: ${{ contains(matrix.config.os, 'windows') }}
        shell: pwsh
        run: |
          ${{ github.workspace }}/vcpkg/bootstrap-vcpkg.bat
      - name: Add NuGet sources
        if: ${{ ! contains(matrix.config.os, 'windows') }}
        shell: bash
        env: 
          VCPKG_EXE: ${{ github.workspace }}/vcpkg/vcpkg
          USERNAME: <OWNER>
          FEED_URL: https://nuget.pkg.github.com/<OWNER>/index.json
        run: |
          mono `${{ env.VCPKG_EXE }} fetch nuget | tail -n 1` \
            sources add \
            -Source "${{ env.FEED_URL }}" \
            -StorePasswordInClearText \
            -Name GitHubPackages \
            -UserName "${{ env.USERNAME }}" \
            -Password "${{ secrets.GITHUB_TOKEN }}"
          mono `${{ env.VCPKG_EXE }} fetch nuget | tail -n 1` \
            setapikey "${{ secrets.VCPKG_PAT_TOKEN }}" \
            -Source "${{ env.FEED_URL }}"
      - name: Add NuGet sources
        if: ${{ contains(matrix.config.os, 'windows') }}

        shell: pwsh
        run: |
          .$(${{ env.VCPKG_EXE }} fetch nuget) `
            sources add `
            -Source "${{ env.FEED_URL }}" `
            -StorePasswordInClearText `
            -Name GitHubPackages `
            -UserName "${{ env.USERNAME }}" `
            -Password "${{ secrets.GITHUB_TOKEN }}"
          .$(${{ env.VCPKG_EXE }} fetch nuget) `
            setapikey "${{ secrets.VCPKG_PAT_TOKEN }}" `
            -Source "${{ env.FEED_URL }}"

      - run: vcpkg/vcpkg fetch ninja
      - run: cmake -B build -S . '-DCMAKE_TOOLCHAIN_FILE=vcpkg/scripts/buildsystems/vcpkg.cmake' --preset '${{ matrix.config.preset }}'
      - name: Archive build
        uses: actions/upload-artifact@v5
        with:
          name: snfm-${{ matrix.config.preset }}
          path: |
            out/build/${{ matrix.config.preset }}/manage_files.exe
            out/build/${{ matrix.config.preset }}/send_file.exe
            out/build/${{ matrix.config.preset }}/manage_files
            out/build/${{ matrix.config.preset }}/send_file
            out/build/${{ matrix.config.preset }}/snfm_user_manual.md
            out/build/${{ matrix.config.preset }}/snfm_config_example.yaml
      # - run: |
      #     echo "RUNVCPKG_NO_CACHE=1" >> $GITHUB_ENV
      #   if: ${{ failure() || cancelled() }}
      #   shell: bash
  release:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x
      - name: Get artifact
        uses: actions/download-artifact@v6
        with:
          name: snfm-windows-x64-release
          path: windows
      - name: Get artifact
        uses: actions/download-artifact@v6
        with:
          name: snfm-linux-x64-release
          path: linux
      - name: Get artifact
        uses: actions/download-artifact@v6
        with:
          name: snfm-macos-x64-release
          path: macos
      - name: Fix +x
        run: |
          chmod +x linux/send_file
          chmod +x linux/manage_files
          chmod +x macos/send_file
          chmod +x macos/manage_files

      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: zip
          filename: ../snfm-windows-x64-release.zip
          directory: windows
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: zip
          filename: ../snfm-linux-x64-release.zip
          directory: linux
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: zip
          filename: ../snfm-macos-x64-release.zip
          directory: macos
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          tag: ${{ env.GITHUB_REF_SLUG }}
          overwrite: true
          asset_name: snfm-$tag-windows-x64.zip
          file: snfm-windows-x64-release.zip
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          tag: ${{ env.GITHUB_REF_SLUG }}
          overwrite: true
          asset_name: snfm-$tag-linux-x64.zip
          file: snfm-linux-x64-release.zip
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          tag: ${{ env.GITHUB_REF_SLUG }}
          overwrite: true
          asset_name: snfm-$tag-macos-x64.zip
          file: snfm-macos-x64-release.zip
